<p>Hey <%= @member.name %>,</p>

<p>Just a reminder to vote on which games you'd like to have brought to the <%= @group.title %> game night tomorrow. Please vote before 6am Wednesday morning so the games can be brought in if need be.</p>

<p>Visit the group here <%= group_url(@group, token: @member.token) %></p>

<% unless @member.rsvped?(@group) %>
  <p>Also you haven't RSVP'd yet, so here's some links: </p>

  <div style="padding: 10px; margin: 10px;">
    <%= link_to 'Yes', group_rsvp_request_url(@group, @member.token, 'new') %>
  </div>

  <div style="padding: 10px; margin: 10px;">
    <%= link_to 'No', group_rsvp_request_url(@group, @member.token, 'pass') %>
  </div>
<% end %>
