<section class="main-section">
  <header class="title">
    <h1>New Group</h1>
    <div class="back">
      <%= link_to "&laquo".html_safe, dashboard_path %>
    </div>
  </header>

  <%= form_for @group do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.submit 'Add' %>
  <% end %>
</section>
