<header class="top-level-title">
  <h1><%= @group.title %></h1>
</header>

<% if @group.next_location.notes.present? %>
  <p class="notes">NOTICE: <%= @group.next_location.notes %></p>
<% end %>

<% if @group.has_next_date? %>
  <%= render "next_date_status", group: @group %>
<% else %>
  <div class="info">No date scheduled. Add a location and set a date.</div>
<% end %>

<div class="sections">

  <div class="left-column">
    <section class='column-section column'>
      <header class="title">
        <h1>Members</h1>
        <%= link_to '+', new_group_invitation_path(@group), class: 'add-link' %>
      </header>

      <div id="members">
        <% attending_members(@group).each do |member| %>
          <div class="member">
            <% if @group.has_next_date? %>
              <%= rsvp_tag(member, @group) %>
            <% else %>
              <%= link_to member.name, member %>
            <% end %>
          </div>
        <% end %>
        <% non_attending_members(@group).each do |member| %>
          <div class="member">
            <% if @group.has_next_date? %>
              <%= rsvp_tag(member, @group) %>
            <% else %>
              <%= link_to member.name, member %>
            <% end %>
          </div>
        <% end %>
        <% pending_members(@group).each do |member| %>
          <div class="member">
            <% if @group.has_next_date? %>
              <%= rsvp_tag(member, @group) %>
            <% else %>
              <%= link_to member.name, member %>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>

    <section class='column-section column'>
      <header class="title">
        <h1>Locations</h1>
        <%= link_to '+', new_group_location_path(@group), class: 'add-link', data: { role: 'add-location' } %>
      </header>

      <div id="locations">
        <% if @group.locations.empty? %>
          <strong>Add a location by clicking the plus in the upper right hand corner of this box.</strong>
        <% end %>
        <% @group.locations.each do |location| %>
          <%= div_for location do %>
            <%= link_to location.title, location %>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>

  <% if @voted_games.to_a.any? %>
    <section class="column-section">
      <header class="title">
        <h1>Current Votes</h1>
      </header>

      <div class="games">
        <% @voted_games.each do |game| %>
          <%= div_for(game, class: 'box box-grid') do %>
            <%= link_to "http://boardgamegeek.com/boardgame/#{game.bgg_id}" do %>
              <%= image_tag(game.image, width: 200) %>
            <% end %>
            <%= pluralize(@group.votes.where(game: game).count, 'vote') %>
            <% if current_user.attending?(@group) %>
              <% if @group.votes.where(game: game, user: current_user).exists? %>
                <%= link_to 'Unvote', group_vote_path(@group, game), method: :delete %>
              <% else %>
                <%= link_to 'Vote', group_vote_path(@group, game), method: :patch %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </section>
  <% end %>

  <section class="column-section">
    <header class="title">
      <h1>Group Games</h1>
    </header>

    <div class="games">
      <% if @games.any? %>
        <% @games.each do |game| %>
          <%= div_for(game, class: 'box box-grid') do %>
            <%= link_to "http://boardgamegeek.com/boardgame/#{game.bgg_id}" do %>
              <%= image_tag(game.image, width: 200) %>
            <% end %>
            <% if current_user.attending?(@group) %>
              <% if @group.votes.where(game: game, user: current_user).exists? %>
                <%= link_to 'Unvote', group_vote_path(@group, game), method: :delete %>
              <% else %>
                <%= link_to 'Vote', group_vote_path(@group, game), method: :patch %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        No games added yet
      <% end %>
    </div>
  </section>
</div>
