<header>
  <h1><%= @group.title %></h1>
  <% if @group.has_next_date? %>
    <div>Next Game Night: <%= @group.next_date.strftime("%B %d") %> at <%= link_to @group.next_location.title, @group.next_location %></div>
    <% if $flipper[:suggestions].enabled? %>
      <% if current_user.attending?(@group) %>
        You are attending
        and you would like to play a
        <% if current_user.rsvps.find_by(group_id: @group.id).request == 'know' %>
          game you know
          <%= button_to "change to new", group_rsvp_path(@group, request: 'new') %>
        <% else %>
          new game
          <%= button_to "change to know", group_rsvp_path(@group, request: 'know') %>
        <% end %>
        <%= button_to "I can't make it", group_rsvp_path(@group), method: :delete %>
      <% else %>
        <%= button_to "I'm attending (know)", group_rsvp_path(@group, request: 'know') %>
        <%= button_to "I'm attending (new)", group_rsvp_path(@group, request: 'new') %>
      <% end %>
    <% else %>
      <% if current_user.attending?(@group) %>
        You are attending
        <%= button_to "I can't make it", group_rsvp_path(@group), method: :delete %>
      <% else %>
        <%= button_to "I'm attending", group_rsvp_path(@group, request: 'new') %>
      <% end %>
    <% end %>

    <h2>Attending</h2>
    <% if @group.attendees.any? %>
      <% @group.attendees.each do |user| %>
        <%= link_to user.name, user %>
        <% if $flipper[:suggestions].enabled? %>(<%= @group.rsvps.find_by(user_id: user.id).request %>)<% end %>
      <% end %>

      <% if $flipper[:suggestions].enabled? %>
        <h2>Suggested Games</h2>
        <% if @group.suggested_games.any? %>
          <ul>
            <% @group.suggested_games.each do |game, players| %>
              <li><%= players.map(&:name).to_sentence %> should play <%= game.title %></li>
            <% end %>
          </ul>
        <% else %>
          No suggestions, you're on your own.
        <% end %>
      <% end %>
    <% else %>
      No one is attending
    <% end %>
  <% end %>
</header>

<section>
  <header>
    <h1>Members</h1>
    <%= link_to 'Invite member', new_group_invitation_path(@group) %>
  </header>

  <div id="members">
    <% @group.members.each do |member| %>
      <%= link_to member.name, member %>
    <% end %>
  </div>
</section>

<section>
  <header>
    <h1>Group Locations</h1>
    <%= link_to 'Add location', new_group_location_path(@group) %>

  </header>

  <div id="locations">
    <% @group.locations.each do |location| %>
      <%= div_for location do %>
        <%= link_to location.title, location %>
      <% end %>
    <% end %>
  </div>
</section>

<% if $flipper[:library].enabled? %>
  <section>
    <header>
      <h1>Group Games</h1>
    </header>

    <div class="games">
      <% if @group.boxes.any? %>
        <% @group.boxes.each do |box| %>
          <%= div_for(box, class: 'box-grid') do %>
            <%= image_tag(box.image, width: 200) %>
            <%= know_button(box.game) %>
          <% end %>
        <% end %>
      <% else %>
        No boxes
      <% end %>
    </div>
  </section>
<% end %>
