<% if @group.has_next_date? %>
  <span class="status">
    Next Game Night: <%= next_date_string(@group) %> at <%= link_to @group.next_location.title, @group.next_location %>
  </span>

  <% if @group.next_location.notes.present? %>
    <p class="notes"><%= @group.next_location.notes %></p>
  <% end %>

  <section class='buttons'>
    <% if $flipper[:suggestions].enabled? %>
      <% if current_user.rsvped?(@group) %>
        You are attending
        and you would like to play a
        <% if current_user.rsvps.find_by(group_id: @group.id).request == 'know' %>
          game you know
          <%= button_to "change to new", group_rsvp_path(@group, request: 'new') %>
        <% else %>
          new game
          <%= button_to "change to know", group_rsvp_path(@group, request: 'know') %>
        <% end %>
        <%= button_to "I can't make it", group_rsvp_path(@group), method: :delete %>
      <% else %>
        <%= button_to "I'm attending (know)", group_rsvp_path(@group, request: 'know') %>
        <%= button_to "I'm attending (new)", group_rsvp_path(@group, request: 'new') %>
      <% end %>
    <% else %>
      <% if current_user.rsvped?(@group) %>
        <% if current_user.attending?(@group) %>
          <span class='accept'>You are attending</span>
          <%= button_to "I can't make it", group_rsvp_path(@group, request: 'pass'), class: 'decline', method: :patch %>
        <% else %>
          <span class='decline'>You can't make it</span>
          <%= button_to "I'm attending", group_rsvp_path(@group, request: 'new'), class: 'accept', method: :patch %>
        <% end %>
      <% else %>
        <%= button_to "I'm attending", group_rsvp_path(@group, request: 'new'), class: 'accept' %>
        <%= button_to "I can't make it", group_rsvp_path(@group, request: 'pass'), class: 'decline' %>
      <% end %>
    <% end %>
  </section>
<% end %>


<section class='main-section'>
  <header>
    <h1><%= @group.title %></h1>
  </header>

  <div class="after-header">
    <% if @group.has_next_date? %>
      <h2><%= @group.attendees.count %> Attending</h2>
      <% if @group.attendees.any? %>
        <% @group.attendees.each do |user| %>
          <%= link_to user.name, user %>
          <% if $flipper[:suggestions].enabled? %>(<%= @group.rsvps.find_by(user_id: user.id).request %>)<% end %>
        <% end %>

        <% if $flipper[:suggestions].enabled? %>
          <h2>Suggested Games</h2>
          <% if @group.suggested_games.any? %>
            <ul>
              <% @group.suggested_games.each do |game, players| %>
                <li><%= players.map(&:name).to_sentence %> should play <%= game.title %></li>
              <% end %>
            </ul>
          <% else %>
            No suggestions, you're on your own.
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      No date scheduled. Add a location and set a date.
    <% end %>
  </div>
</section>

<section class='main-section'>
  <header class="title">
    <h1>Members</h1>
    <%= link_to '+', new_group_invitation_path(@group), class: 'add-link' %>
  </header>

  <div id="members">
    <% @group.members.each do |member| %>
      <div class="member">
        <%= link_to member.name, member %>
        <% if @group.has_next_date? %>
          <%= rsvp_tag(member, @group) %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>


<section class='main-section'>
  <header class="title">
    <h1>Locations</h1>
    <%= link_to '+', new_group_location_path(@group), class: 'add-link', data: { role: 'add-location' } %>
  </header>

  <div id="locations">
    <% if @group.locations.empty? %>
      <strong>Add a location by clicking the plus in the upper right hand corner of this box.</strong>
    <% end %>
    <% @group.locations.each do |location| %>
      <%= div_for location do %>
        <%= link_to location.title, location %>
      <% end %>
    <% end %>
  </div>
</section>

<section class="main-section">
  <header>
    <h1>Group Games</h1>
  </header>

  <div class="games">
    <% if @group.boxes.any? %>
      <% @group.boxes.each do |box| %>
        <%= div_for(box, class: 'box-grid', data: { title: box.title }) do %>
          <%= image_tag(box.image, width: 200) %>
        <% end %>
      <% end %>
    <% else %>
      No boxes
    <% end %>
  </div>
</section>
