<header class="top-level-title">
  <h1><%= @group.title %></h1>
</header>

<% if @group.next_location.notes.present? %>
  <p class="notes">NOTICE: <%= @group.next_location.notes %></p>
<% end %>

<% if @group.has_next_date? %>
  <div class='centered'>
    <div class="status">
      There <%= @group.attendees.count == 1 ? 'is' : 'are' %> <strong><%= pluralize(@group.attendees.count, 'person') %></strong> attending the next game night on <strong><%= next_date_string(@group) %></strong> at <%= link_to @group.next_location.title, @group.next_location %>
      <% if current_user.rsvped?(@group) %>
        <% if current_user.attending?(@group) %>
          <%= link_to "✓", group_rsvp_path(@group, request: 'new'), class: 'accept tooltip', title: 'I am attending', method: :patch %>
          <%= link_to "X", group_rsvp_path(@group, request: 'pass'), class: 'decline pending tooltip', title: 'I can not attend', method: :patch %>
        <% else %>
          <%= link_to "✓", group_rsvp_path(@group, request: 'new'), class: 'accept pending tooltip', title: 'I can attend', method: :patch %>
          <%= link_to "X", group_rsvp_path(@group, request: 'pass'), class: 'decline tooltip', title: "I am not attending", method: :patch %>
        <% end %>
      <% else %>
        <%= link_to "✓", group_rsvp_path(@group, request: 'new'), class: 'accept tooltip pending', title: 'I can attend', method: :post %>
        <%= link_to "X", group_rsvp_path(@group, request: 'pass'), class: 'decline tooltip pending', title: 'I can not attend', method: :post %>
      <% end %>
    </section>
    </div>


  </div>

<% else %>
  <div class="info">No date scheduled. Add a location and set a date.</div>
<% end %>

<div class="sections">

  <div class="left-column">
    <section class='column-section column'>
      <header class="title">
        <h1>Members</h1>
        <%= link_to '+', new_group_invitation_path(@group), class: 'add-link' %>
      </header>

      <div id="members">
        <% @group.members.each do |member| %>
          <div class="member">
            <% if @group.has_next_date? %>
              <%= rsvp_tag(member, @group) %>
            <% else %>
              <%= link_to member.name, member %>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>

    <section class='column-section column'>
      <header class="title">
        <h1>Locations</h1>
        <%= link_to '+', new_group_location_path(@group), class: 'add-link', data: { role: 'add-location' } %>
      </header>

      <div id="locations">
        <% if @group.locations.empty? %>
          <strong>Add a location by clicking the plus in the upper right hand corner of this box.</strong>
        <% end %>
        <% @group.locations.each do |location| %>
          <%= div_for location do %>
            <%= link_to location.title, location %>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>

  <section class="column-section">
    <header class="title">
      <h1>Group Games</h1>
    </header>

    <div class="games">
      <% if @group.boxes.any? %>
        <% @group.boxes.each do |box| %>
          <%= div_for(box, class: 'box-grid', data: { title: box.title }) do %>
            <%= image_tag(box.image, width: 200) %>
          <% end %>
        <% end %>
      <% else %>
        No games added yet
      <% end %>
    </div>
  </section>
</div>
