<header class="top-level-title">
  <h1><%= @group.title %></h1>
</header>

<% if @group.notes.present? %>
  <p class="notes">NOTICE: <%= markdown(@group.notes) %></p>
<% end %>

<% if @group.has_next_date? %>
  <%= render "next_date_status", group: @group %>
<% else %>
  <div class="info">No date scheduled. Add a location and set a date.</div>
<% end %>

<div class="sections">

  <div class="left-column">
    <section class='column-section column'>
      <header class="title">
        <h1>Members</h1>
        <%= link_to '+', new_group_invitation_path(@group), class: 'add-link' %>
      </header>

      <div id="members">
        <%= render_members @group, :attending %>
        <%= render_members @group, :non_attending %>
        <%= render_members @group, :pending %>
      </div>
    </section>

    <section class='column-section column'>
      <header class="title">
        <h1>Locations</h1>
        <%= link_to '+', new_group_location_path(@group), class: 'add-link', data: { role: 'add-location' } %>
      </header>

      <div id="locations">
        <% if @group.locations.empty? %>
          <strong>Add a location by clicking the plus in the upper right hand corner of this box.</strong>
        <% end %>
        <% @group.locations.each do |location| %>
          <%= div_for location do %>
            <%= link_to location.title, location %>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>

  <% if @voted_games.to_a.any? %>
    <section class="column-section">
      <header class="title">
        <h1>Current Votes</h1>
      </header>

      <div class="voted-games">
        <% @voted_games.each do |game| %>
          <%= div_for(game, class: 'box box-grid') do %>
            <% cache(game) do %>
              <%= render game %>
            <% end %>

            <aside>
              <%= pluralize(@group.vote_count_for(game).count, 'vote') %>
              <% if current_user.attending? @group %>
                <%= vote_link(@group, game) %>
              <% end %>
            </aside>
          <% end %>
        <% end %>
      </div>
    </section>
  <% end %>

  <section class="column-section">
    <header class="title">
      <h1>Group Games</h1>
      <input class="group-search" placeholder="Filter games" />
    </header>

    <% if @games.any? %>
      <ul class="games list">
        <% @games.each do |game| %>
          <%= content_tag_for(:li, game, class: 'box box-grid', data: { title: game.title.downcase }) do %>
            <%= render game %>

            <aside>
              <% if current_user.attending? @group %>
                <%= vote_link(@group, game) %>
              <% end %>
            </aside>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <p class="no-games">No games added yet</p>
    <% end %>
  </section>
</div>

<script type="text/javascript">
  $('.group-search').on("keyup", function(event) {
    var value = $(".group-search").val().toLowerCase();
    if(value == "") {
      $(".list li").show();
    } else {
      $(".list li[data-title*='"+value+"']").show();
      $(".list li:not([data-title*='"+value+"'])").hide();
    }
  } );
</script>
