<section class="main-section">
  <header class="title">
    <h1>Sign up</h1>
  </header>

  <%= form_for @user do |form| %>

    <% if @user.errors.any? %>
      Couldn't sign you up because:

      <div class="errors">
        <ul>
          <% @user.errors.full_messages.each do |error_message| %>
            <li><%= error_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :name %>
      <%= form.email_field :name %>
    </div>
    <div>
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <div>
      <%= form.submit "Sign up" %>
    </div>
  <% end %>
</section>
