<section class="main-section">
  <header class="title">
    <h1>Add Game</h1>
  </header>
  <%= form_for @game do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.hidden_field :id %>
    <% if params[:location_id] %>
      <%= hidden_field_tag :location_id, params[:location_id] %>
    <% end %>
    <%= form.submit 'Add' %>
  <% end %>
</section>

<section class="main-section">
  <header class="title">
    <h1>Import BoardGameGeek Collection</h1>
  </header>

  <p><strong>This will take some time to complete</strong></p>

  <%= form_for(:bgg_import, url: bgg_import_path) do |form| %>
    <%= form.text_field :bgg_username, value: current_user.bgg_username, placeholder: "BoardGameGeek username" %>
    <%= form.submit "Import collection" %>
  <% end %>
</section>

<script type="text/javascript">
  $("#game_title").autocomplete({
    source: '/search/games',
    select: function( event, ui ) {
      $("#game_id").val(ui.item.id);
      $("#game_title").val(ui.item.title);
      return false;
    }
  }).data('ui-autocomplete')._renderItem = function(ul, item) {
    year_string = "";
    if(item.year) {
      year_string = " (" + item.year + ")"
    }
    return $("<li>").
      append("<a>" + item.title + year_string + "</a>").
      appendTo(ul);
  }
</script>
