<div class="sections">
  <div class="left-column">
    <section class="column-section column">
      <header class='title'>
        <h1>My Groups</h1>
        <%= link_to "+", new_group_path, class: 'add-link', data: { role: 'add-group' } %>
      </header>

      <div id="groups">
        <% current_user.groups.each do |group| %>
          <%= div_for(group) do %>
            <%= link_to group.title, group, class: 'group-link' %>
            <%= link_to "Leave group", [:leave, group], method: :delete, data: { confirm: "Are you sure you want to leave #{group.title}" }, class: 'group-leave-link' %>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>

  <section class="column-section">
    <header class='title'>
      <h1>My Games</h1>
      <%= link_to "+", new_game_path, class: 'add-link', data: { role: 'add-game' } %>
    </header>

    <div class="games">
      <% if @boxes.any? %>
        <% @boxes.each do |box| %>
          <%= div_for(box) do %>
            <div class="image">
              <%= link_to "http://boardgamegeek.com/boardgame/#{box.bgg_id}" do %>
                <%= image_tag(box.image, width: 75) %>
              <% end %>
            </div>

            <header>
              <%= box.title %>
            </header>

            <aside>
              <%= form_for box, url: assign_box_path(box), namespace: box.title.parameterize, remote: true, method: :patch do |form| %>
                <%= form.select :location_id, current_user.locations.map { |location| ["at #{location.title}", location.id] }, { include_blank: true }, { class: 'box-location-field' } %>
              <% end %>
              <%= link_to "Remove", box, method: :delete, class: "remove", data: { confirm: "Are you sure?" } %>
            </aside>
          <% end %>
        <% end %>
      <% else %>
        No games yet. You can import your collection by using your BGG username. <strong>This will take some time.</strong>
        <%= form_for(:bgg_import, url: bgg_import_path) do |form| %>
          <%= form.text_field :bgg_username, value: current_user.bgg_username, placeholder: "BoardGameGeek username" %>
          <%= form.submit "Import collection" %>
        <% end %>
      <% end %>
    </div>
  </section>
</div>

<script type="text/javascript">
  $(".box-location-field").on("change", function() {
    $(this.form).trigger("submit")
  });
</script>
