<% if @location.has_next_date? %>
  <span class="status">
    Next Game Night: <%= @location.next_date.strftime("%B %d") %>
  </span>
<% end %>

<section class='main-section'>
  <header class="title">
    <h1><%= @location.title %></h1>
    <div class="back">
      <%= link_to "&laquo".html_safe, @location.group %>
    </div>
  </header>

  <section>
    <%= form_for(@location) do |form| %>
      <div>
        <%= form.label :notes %>
        <%= form.text_area :notes %>
      </div>
      <div>
        <%= form.label :starts_on %>
        <%= form.date_field :starts_on %>
      </div>
      <div>
        <%= form.label :recurrence_rules, "When" %>
        <%= form.select_recurring :recurrence_rules %>
      </div>
      <%= form.submit %>
    <% end %>
  </section>

</section>
<section class="main-section">

  <header>
    <h1>Games</h1>
    <%= link_to 'Add game', new_location_game_path(@location) %>
  </header>

  <div class="games">
    <% if @location.boxes.any? %>
      <% @location.boxes.each do |box| %>
        <%= div_for(box) do %>
          <%= image_tag(box.image, width: 200) %>

          <% if current_user.owns? box %>
            <%= form_for box, url: assign_box_path(box), namespace: box.title.parameterize, remote: true, method: :patch do |form| %>
              <%= form.label :location_id, "at" %>
              <%= form.select :location_id, current_user.locations.map { |location| [location.title, location.id] }, { include_blank: true }, { class: 'box-location-field' } %>
            <% end %>
          <% end %>
          <% if @location.owns? box %>
            <%= link_to "Remove", box, method: :delete, class: 'remove', data: { confirm: "Are you sure?" } %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      No games yet.
    <% end %>
  </div>
</section>

<script type="text/javascript">
  $(".box-location-field").on("change", function() {
    $(this.form).trigger("submit")
    window.location = window.location
  });
</script>
