<% if @location.has_next_date? %>
  <div class="centered">
    <span class="status">
      The next game night here is on <%= @location.next_date.strftime("%B %d") %>
    </span>
  </div>
<% end %>

<section class='main-section'>
  <header class="title">
    <h1><%= @location.title %></h1>
    <div class="back">
      <%= link_to "&laquo".html_safe, @location.group %>
    </div>
  </header>

  <section>
    <%= form_for(@location) do |form| %>
      <div>
        <%= form.label :notes %>
        <%= form.text_area :notes %>
      </div>
      <div>
        <%= form.label :starts_at %>
        <%= form.time_field :starts_at %>
      </div>
      <div>
        <%= form.label :starts_on %>
        <%= form.date_field :starts_on %>
      </div>
      <div>
        <%= form.label :recurrence_rules, "When" %>
        <%= form.select_recurring :recurrence_rules %>
      </div>
      <%= form.submit %>
    <% end %>
  </section>

</section>
<section class="main-section">

  <header class="title">
    <h1>Games</h1>
    <input class="search" placeholder="Filter games" />
    <%= link_to '+', new_location_game_path(@location), class: 'add-link' %>
  </header>

  <% if @location.boxes.any? %>
    <ul class="games list">
      <% @location.boxes.alphabetical.each do |box| %>
        <%= content_tag_for(:li, box.game, class: 'box', data: { title: box.title.downcase }) do %>
          <%= render box.game %>

          <aside>
            <% if current_user.owns? box %>
              <%= form_for box, url: assign_box_path(box), namespace: box.title.parameterize, remote: true, method: :patch do |form| %>
                <%= form.label :location_id, "at" %>
                <%= form.select :location_id, current_user.locations.map { |location| [location.title, location.id] }, { include_blank: true }, { class: 'box-location-field' } %>
              <% end %>
            <% end %>
            <% if @location.owns? box %>

              <%= link_to "Remove", [@location, box], method: :delete, class: 'remove', data: { confirm: "Are you sure?" } %>
            <% end %>
          </aside>
        <% end %>
      <% end %>
  </ul>
  <% else %>
    <div class="centered">
      No games yet.
    </div>
  <% end %>
</section>

<script type="text/javascript">
  $(".box-location-field").on("change", function() {
    $(this.form).trigger("submit")
    window.location = window.location
  });
  $('.search').on("keyup", function(event) {
    var value = $(".search").val().toLowerCase();
    if(value == "") {
      $(".list li").show();
    } else {
      $(".list li[data-title*='"+value+"']").show();
      $(".list li:not([data-title*='"+value+"'])").hide();
    }
  } );
</script>
